<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%- title %></title>
    <!-- boostrap css -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-LN+7fdVzj6u52u30Kp6M/trliBMCMKTyK833zpbD+pXdCLuTusPj697FH4R/5mcr" crossorigin="anonymous">
    <!-- boostrap icons -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.13.1/font/bootstrap-icons.min.css">
    <!-- stylesheets -->
    <link rel="stylesheet" href="/static/public/css/styles.css" />
    <link rel="stylesheet" href="/static/public/css/components.css" />
</head>
<body>
    
    <header></header>
    <main class="container-fluid col-lg-12 col-md-12 col-sm-12 p-5 row">

        <section class="container-fluid col-lg-12 col-md-12 col-sm-12 row" style="height: 100px;">

            <!-- sort -->
            <div class="container-fluid col-lg-2 col-md-3 col-sm-12 p-2 m-0">

                <div class="sort-container border rounded-3 p-3">
                    <i class="bi bi-sort-up fs-5"></i>
                    <select name="" class="sort col-9 border-0 p-2 bg-transparent">
                        <option>sort</option>
                    </select>
                </div>
            </div>

            <!-- filters -->
            <div class="container-fluid col-lg-2 col-md-3 col-sm-12 p-2 m-0">

                <div class="filters-container border rounded-3 p-3">
                    <i class='bi bi-filter fs-5'></i>
                    <select name="filters" class="col-9 border-0 p-2 bg-transparent">
                        <option>filter</option>
                    </select>
                </div>
            </div>

        </section>

        <section class='container-fluid col-lg-12 col-md-12 col-sm-12 p-5' id="bookshelf">

            <% books.map(book => { %>

                <article class="book" data-key="<%- book['id'] %>" data-title="<%- book['title'] %>">

                    <figure class="book-cover-container">
                        <img src="<%- book['cover'] %>" alt="<%- book['cover'] %>" width="200" height="200" class="book-cover" />
                    </figure>
                    <details>
                        <h5 class="book-title"><%- book['title'] %></h5>
                        <h6 class="book-authors">
                            <% if (book['authors']) { %>
                                <% book['authors'].map(author => { %>
                                    <%- author %>
                                <% }) %>
                            <% } %>
                        </h6>
                        <p class="book-summary"><%- book['summary'] %></p>
                    </details>
                </article>
            <% }) %>
        </section>
    </main>
    <!-- bootstrap js -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/js/bootstrap.bundle.min.js" integrity="sha384-ndDqU0Gzau9qJ1lfW4pNLlhNTkCfHzAVBReH9diLvGRem5+R9g2FzA8ZGN954O5Q" crossorigin="anonymous"></script>
    <!-- popper js -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/2.11.8/umd/popper.min.js" integrity="sha512-TPh2Oxlg1zp+kz3nFA0C5vVC6leG/6mm1z9+mA81MI5eaUVqasPLO8Cuk4gMF4gUfP5etR73rgU/8PNMsSesoQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <!-- socket.io -->
    <script src="/socket.io/socket.io.js"></script>
    <!-- javascripts -->
    <script src="/static/public/js/scripts.js"></script>
</body>
</html>